/*body{
    background-color:aquamarine;
}*/

/*p{
    color:black;
    background-color: red;
}*/

/*h2{
    background-color: bisque;
}*/

/*#home{
    background-color: lightblue;
}*/

.footer{
    background-color: lightyellow;
}